# STA 141B Assignment 2

Due __Feb 10, 2023__ by 11:59pm. 

Please rename this file with __"LastName_FirstName_hw2"__ 

The purpose of this assignment is to practice numpy, pandas, and use pandas data frames to index, slice, reshape, aggregate, and group data

Notes: 

1. Please do not rename this file or delete the exercise cells. Put your answers in new cells after each exercise. You can make as many new cells as you like. Use code cells for code and Markdown cells for text. Answer all questions with complete sentences.

2. Your code should be readable; writing a piece of code should be compared to writing a page of a book. Adopt the __one-statement-per-line__ rule. Consider splitting a lengthy statement into multiple lines to improve readability. (You will lose one point for each line that does not follow the one-statement-per-line rule)

3. To help understand and maintain code, you should always add comments to explain your code. Use the _hash symbol_ (#) to start writing a comment (homework without any comments will automatically receive 0 points). Use _docstring_ to explain a function

4. Submit your final work with a __.pdf__ or a __.html__ file to Canvas. To convert a .ipynb file to a .pdf/.html file, go to "File", click "Download as", and then click "PDF via LaTeX"/"HTML". 

5. This assignment will be graded for correctness.

### Part I: Indexing

__Exercise 1.1 (10 points).__ Give three examples of indexing a data frame with `[ ]`, `.loc[ ]`, and `.iloc[ ]`, respectively. Explain how each of these indexing methods is different.

In [147]:
import pandas as pd

df = pd.DataFrame({"cam": [1,2,3], "mas": [4,5,6]})

In [148]:
df["cam"]

0    1
1    2
2    3
Name: cam, dtype: int64

This method extracts the entire data frame column by its name.

In [149]:
df.iloc[0:3]

   cam  mas
0    1    4
1    2    5
2    3    6

This method extracts the index using integer values instead of names.

In [150]:
df.loc[df.cam > 1]

   cam  mas
1    2    5
2    3    6

This method is similar to .iloc() but allows for boolean statements for index filtering.

__Exercise 1.2 (10 points).__ What do negative indexes (as in `x[-1]`) do in Python? Create and try three examples of negative indexes for lists, NumPy arrays, and data frames, respectively. Then explain what you think negative indexes do. Confirm your explanation by linking to a relevant page in the Python, NumPy, or Pandas documentation.

In [151]:
import numpy as np

lst = [1,2,3]
array = np.array([1,2,3])
df = pd.DataFrame({"test": [1,2,3]})

In [152]:
lst[-1]

3

In [153]:
array[-1]

3

In [154]:
df.iloc[-1]

test    3
Name: 2, dtype: int64

Negative indexes return the last element/row in the list/np array/pd dataframe depending on which data structure you use. If you use -2 as an index it will return the second to last element in these data structures. https://python-reference.readthedocs.io/en/latest/docs/brackets/indexing.html

__Exercise 1.3 (10 points).__ Give an example and explain Pandas' data alignment (or index alignment) feature.

In [206]:

df_1 = pd.DataFrame({"dog": [1,2,3],"cat": [4,5,6]})
df_2 = pd.DataFrame({"rabbit": [7,8,9],"dog": [10,11,12]})

df_1 + df_2

   cat  dog  rabbit
0  NaN   11     NaN
1  NaN   13     NaN
2  NaN   15     NaN

Pandas data alignment is a feature that ensures that operations between DataFrames and Series align the data based on the labels in their index. The feature helps to automatically align data for operations between different data structures, so that you don't have to manually align the data before performing operations.

__Exercise 1.4 (10 points).__ Explain the difference between the similarly-named data frame methods `.reindex()` and `.reset_index()`. Give two examples to show what each method respectively does.

How might these methods be useful when combined with Pandas' data alignment feature?

*Hint: Besides the Pandas documentation, `.reindex()` is explained in Python for Data Analysis 5.2, and `.reset_index()` is explained [here](https://jakevdp.github.io/PythonDataScienceHandbook/03.05-hierarchical-indexing.html#Index-setting-and-resetting).*

In [158]:
test_df = pd.DataFrame({"dog": [1,2,3],"cat": [4,5,6]})
test_df = test_df.reindex(index = [2,1,0])
test_df

   dog  cat
2    3    6
1    2    5
0    1    4

In [159]:
test_df.reset_index()

   index  dog  cat
0      2    3    6
1      1    2    5
2      0    1    4

The .reindex() method allows the user to provide a new row or column index for a pandas DataFrame. .reset_index() resets the provided DataFrame's index to a default index and creates a column with the original row index. This can be useful when combined with tha Pandas data alignment feature because in the alignment process the row index might be different for each DataFrame. Having the ability to change or reset the index helps create index continuity after alignment.

### Part 2: Read in the 'county_age_dist.csv' data and answer the next four questions.

__Exercise 2.1 (5 points).__ Cast the 'fips' column as a string such that it is a length 5 string of digits that starts with 0 if it is currently of length 4.  Yolo county for example is '06113'.  This is the age distribution of each county in the US (with territories), you may notice that the total population is unusually large, please ignore this.

In [160]:
# define lambda function that prepends a string if its length is 4
prepend_zero = lambda s: "0" + s if len(s) == 4 else s
# read in dataa
counties = pd.read_csv("county_age_dist.csv")
# apply lambda function to the fips column
counties["fips"] = counties["fips"].apply(str).apply(prepend_zero)

__Exercise 2.2 (5 points).__ Create a population column which is the sum of the age counts for all age bins.  For each age bin create a column which is proportion of the age bin in the county populations, so for example '0-17_rat' is the ratio of '0-17' to the whole population for the county.  Print out the FIPS code for the county with the largest proportion of 0-17 year olds? What is the FIPS code for the county with the largest proportion of 85+ year olds?

In [161]:
# define a function that obtains the row sum
def row_sum(row): 
    return row.drop("fips").sum() 
# apply the row_sum function along each row of the counties df
counties["population"] = counties.apply(row_sum, axis = 1)

In [162]:
counties

,fips,0-17,18-24,25-34,35-44,45-54,55-64,65-74,75-84,85+,population
0,01001,25941,11422,12315,13828,14000,12697,9594,5430,1945,107172
1,01003,86587,37568,44133,46730,49675,52405,43252,23262,8854,392466
2,01005,11057,6162,6603,5907,6490,6377,5255,2795,1074,51720
3,01007,9671,5241,5788,5472,6707,5563,4270,2555,638,45905
4,01009,25671,11360,12635,13570,14737,14123,12106,6560,2022,112784
...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,27016,14455,14882,14168,15026,14450,11928,6139,3159,121223
3216,72147,4724,2727,2092,2356,2496,2972,2364,1498,479,21708
3217,72149,11353,6431,5521,5319,5788,6228,4631,2218,859,48348
3218,72151,16068,9025,8465,9199,9548,9805,7926,3784,2103,75923
3219,72153,17375,8974,9422,9457,10028,10672,8571,4620,2346,81465

In [163]:
# define a function that calculates the row proportions 
def pop_age_ratio(row):
    row = row.drop("fips")
    return row / row["population"]

# create a new df that contains the row ratios
ratio_df = counties.apply(pop_age_ratio,axis = 1)
# Drop population column
ratio_df.drop(columns=['population'], inplace=True)
# add "_rat" to each column name ending
new_col_names = {col: col + "_rat" for col in ratio_df.columns}
# actually rename those columns
ratio_df.rename(columns=new_col_names, inplace=True)

# concatenate both dfs 
counties = pd.concat([counties,ratio_df],axis = 1)

In [164]:
# obtain the largest 0-17_rat fips value
counties.loc[counties["0-17_rat"].idxmax(),"fips"]

'02158'

In [165]:
# obtain the largest 85+_rat fips value
counties.loc[counties["85+_rat"].idxmax(),"fips"]

'31091'

__Exercise 2.3 (5 points).__ What is the overall proportion of each age bin within the entire US.  You need to find the total number of each age bin across all counties and take the ratio with the total population.

In [166]:
# select relevent columns
us = counties.loc[:,["0-17","18-24","25-34","35-44","45-54","55-64","65-74","75-84","85+","population","fips"]]
# sum all columns and assign a new df
us = pd.DataFrame(us.sum()).T
# use the pop_age_ratio function and apply it to each row, drop the population column
us_ratio = us.apply(pop_age_ratio,axis = 1).drop(columns = "population",inplace = False)
us_ratio

,0-17,18-24,25-34,35-44,45-54,55-64,65-74,75-84,85+
0,0.224884,0.117452,0.1282,0.119159,0.124014,0.123719,0.089391,0.050112,0.023068

__Exercise 2.4 (10 points).__ Create a new column that contains the mode of the age bins (the age bin with the largest proportion in the county).  Print out the frequencies of the modes different possible values, so that the frequency of '0-17' is the proportion of the counties that have '0-17' as the largest age bin for that county.

In [167]:
# select relevent columns
county_ratio = counties.loc[:,["0-17","18-24","25-34","35-44","45-54","55-64","65-74","75-84","85+"]]
# obtain the largest county ratio index for each row
county_ratio = county_ratio.idxmax(axis = 1) 
# assign that series to a new df  
county_ratio = pd.DataFrame({"mode": county_ratio})

# concat the counties df with that ratio
counties = pd.concat([counties, county_ratio],axis = 1)

In [168]:
# print the mode column and the value_counts associated with it
counties["mode"].value_counts(normalize = True)

0-17     0.949379
18-24    0.021739
55-64    0.018012
25-34    0.004658
65-74    0.004658
45-54    0.000932
35-44    0.000621
Name: mode, dtype: float64

### Part 3. Read in the 'Read in the 'county_fips_master.csv'' data and answer the next two questions

__Exercise 3.1 (5 points).__ Join this dataset to the county age dataframe constructed above such that there is one row for every county in the new dataframe from county_fips_master. How many rows are there in the new dataframe? Are there any missing entries? If so how many rows have missingness?

In [169]:
# read in master dataset
county_master = pd.read_csv("county_fips_master.csv", encoding ='ISO-8859-1')
# recast fips column to a string column 
county_master["fips"] = county_master["fips"].apply(str)

In [170]:
# use a full join to merge the master county df and counties df on fips column
county_master =  pd.merge(county_master,counties,on = "fips",how = "outer")
# display the number of rows that contain NaN
county_master.isnull().any(axis = 1).sum()

713

In [207]:
county_master

,fips,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,...,25-34_rat,35-44_rat,45-54_rat,55-64_rat,65-74_rat,75-84_rat,85+_rat,mode,senior,senior_rat
317,10001,Kent County,DE,Delaware,Kent County DE,50.0,3.0,5.0,10.0,1.0,...,0.126531,0.112581,0.123116,0.119214,0.094037,0.052317,0.019070,0-17,21974.0,0.071387
318,10003,New Castle County,DE,Delaware,New Castle County DE,50.0,3.0,5.0,10.0,3.0,...,0.133194,0.118399,0.129855,0.125252,0.085086,0.047754,0.022026,0-17,75162.0,0.069781
319,10005,Sussex County,DE,Delaware,Sussex County DE,50.0,3.0,5.0,10.0,5.0,...,0.104628,0.099539,0.120596,0.148117,0.138017,0.068297,0.028213,0-17,38330.0,0.096510
320,11001,District of Columbia,DC,District of Columbia,District of Columbia DC,40.0,3.0,5.0,11.0,0.0,...,0.193370,0.130613,0.111748,0.110092,0.075355,0.042644,0.020729,25-34,83184.0,0.063373
321,11001,District of Columbia,DC,District of Columbia,District of Columbia DC,50.0,3.0,5.0,11.0,1.0,...,0.193370,0.130613,0.111748,0.110092,0.075355,0.042644,0.020729,25-34,83184.0,0.063373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3141,56037,Sweetwater County,WY,Wyoming,Sweetwater County WY,50.0,4.0,8.0,56.0,37.0,...,0.143440,0.122522,0.113825,0.126323,0.068867,0.037358,0.014979,0-17,4724.0,0.052337
3142,56039,Teton County,WY,Wyoming,Teton County WY,50.0,4.0,8.0,56.0,39.0,...,0.181675,0.142574,0.129888,0.131195,0.085066,0.032543,0.020225,0-17,2583.0,0.052768
3143,56041,Uinta County,WY,Wyoming,Uinta County WY,50.0,4.0,8.0,56.0,41.0,...,0.119638,0.128185,0.112583,0.131170,0.080136,0.032945,0.018202,0-17,2262.0,0.051148
3144,56043,Washakie County,WY,Wyoming,Washakie County WY,50.0,4.0,8.0,56.0,43.0,...,0.108158,0.107503,0.120374,0.140039,0.109290,0.068709,0.030809,0-17,1670.0,0.099517
3145,56045,Weston County,WY,Wyoming,Weston County WY,50.0,4.0,8.0,56.0,45.0,...,0.102786,0.126026,0.113710,0.155279,0.095968,0.061217,0.034384,0-17,1304.0,0.095601

There are 2827 rows after merging and removing rows that contain NaN

__Exercise 3.2 (10 points)__ Drop any rows with missingness.  For each state calculate the proportion of each age bin as you did for the entire US in the question above.  What is the state with the most 0-17 proportion and the state with the most 85+ proportion?  Give the proportions.

In [171]:
# drop rows with missing values
county_master = county_master.dropna()

In [172]:
# select relevent columns
selected_cols = ["0-17","18-24","25-34","35-44","45-54","55-64","65-74","75-84","85+","population","state_name"]
# group by state name
county_group = county_master[selected_cols].groupby("state_name")
# sum the values of each column by group
county_group = county_group.sum()
# divide by population and drop that column
county_group = county_group.divide(county_group["population"],axis = 0).drop(columns = "population",inplace = False)
county_group

,0-17,18-24,25-34,35-44,45-54,55-64,65-74,75-84,85+
state_name,,,,,,,,,
Delaware,0.217387,0.113370,0.125677,0.113191,0.126628,0.129305,0.098429,0.053121,0.022894
District of Columbia,0.180467,0.134981,0.193370,0.130613,0.111748,0.110092,0.075355,0.042644,0.020729
Florida,0.203338,0.109815,0.122184,0.115377,0.125243,0.127054,0.105448,0.063038,0.028504
Georgia,0.238749,0.119290,0.128750,0.126364,0.126255,0.117180,0.083070,0.042925,0.017417
Hawaii,0.214333,0.111126,0.134777,0.117548,0.119138,0.127217,0.094941,0.051653,0.029267
Idaho,0.249923,0.114807,0.123502,0.116075,0.113930,0.121423,0.091331,0.048428,0.020581
Illinois,0.226250,0.116642,0.129534,0.120892,0.124610,0.123673,0.085803,0.049157,0.023440
Indiana,0.232802,0.119538,0.121464,0.117135,0.122976,0.124935,0.088409,0.049769,0.022971
Iowa,0.228441,0.120496,0.120029,0.112350,0.120072,0.127106,0.089461,0.054507,0.027538
Kansas,0.239622,0.123204,0.124948,0.112925,0.116924,0.122309,0.085294,0.050115,0.024659
Kentucky,0.224512,0.116451,0.121697,0.119133,0.125327,0.127416,0.093082,0.050616,0.021766
Louisiana,0.232604,0.121250,0.132908,0.115388,0.119552,0.122942,0.086937,0.047815,0.020604
Maine,0.197206,0.106883,0.112564,0.111642,0.134711,0.145428,0.106297,0.058371,0.026898
Maryland,0.221525,0.113998,0.129701,0.120644,0.131808,0.125933,0.086922,0.047396,0.022072
Massachusetts,0.204731,0.121359,0.129146,0.116766,0.130418,0.128001,0.090893,0.052022,0.026662
Michigan,0.221293,0.120414,0.117214,0.113339,0.126530,0.131572,0.093036,0.052149,0.024454
Minnesota,0.228832,0.113165,0.129966,0.116529,0.125858,0.126612,0.085524,0.049066,0.024449
Mississippi,0.236008,0.121317,0.123307,0.117115,0.118710,0.122612,0.089874,0.050013,0.021044
Missouri,0.225158,0.117139,0.124356,0.114192,0.123119,0.127224,0.092079,0.052767,0.023966
Montana,0.214199,0.118338,0.120373,0.108951,0.118339,0.140214,0.100494,0.054477,0.024616
Nebraska,0.238915,0.121224,0.126311,0.114316,0.116444,0.122196,0.084981,0.050623,0.024991
Nevada,0.227299,0.109904,0.134006,0.124629,0.124292,0.121483,0.092692,0.047275,0.018420
New Hampshire,0.201933,0.114913,0.113504,0.113893,0.140328,0.141331,0.097044,0.052388,0.024668
New Jersey,0.219827,0.110255,0.122278,0.121951,0.133230,0.126499,0.089242,0.051161,0.025557
New Mexico,0.232156,0.119232,0.125371,0.111935,0.116919,0.126501,0.094153,0.051855,0.021880
New York,0.211207,0.117633,0.134227,0.119118,0.127467,0.124853,0.089003,0.051224,0.025268
North Carolina,0.224857,0.116542,0.123703,0.122500,0.125779,0.123809,0.092168,0.049790,0.020853
North Dakota,0.221050,0.140018,0.136065,0.108601,0.114780,0.122020,0.080531,0.050610,0.026325
Ohio,0.223494,0.114781,0.120408,0.114241,0.124683,0.130849,0.092829,0.053279,0.025436
Oklahoma,0.235982,0.118651,0.129076,0.115304,0.116948,0.121602,0.089562,0.051343,0.021531
Oregon,0.212816,0.113054,0.128755,0.120788,0.119017,0.131359,0.098324,0.050979,0.024909
Pennsylvania,0.210988,0.114135,0.122640,0.112539,0.127445,0.132610,0.095060,0.056507,0.028077
Rhode Island,0.202001,0.126987,0.124965,0.113423,0.128491,0.130042,0.091405,0.052858,0.029828
South Carolina,0.221550,0.117903,0.123406,0.116650,0.122769,0.127735,0.098763,0.050192,0.021031
South Dakota,0.234764,0.118456,0.123941,0.109571,0.115915,0.129050,0.088220,0.053377,0.026705
Tennessee,0.224193,0.115441,0.124577,0.120309,0.124410,0.125577,0.093811,0.050806,0.020877
Texas,0.251499,0.121165,0.134842,0.124867,0.118470,0.111446,0.077229,0.042327,0.018155
Utah,0.282481,0.132711,0.139205,0.122167,0.100823,0.098602,0.068970,0.038707,0.016336
Vermont,0.195929,0.123784,0.112353,0.109702,0.131876,0.143852,0.102641,0.054230,0.025633
Virginia,0.219537,0.118038,0.130383,0.122524,0.128156,0.123882,0.088739,0.047536,0.021206
Washington,0.220833,0.114876,0.134100,0.121345,0.122879,0.126523,0.090323,0.047039,0.022082
West Virginia,0.204952,0.113159,0.113671,0.115700,0.122976,0.139156,0.106081,0.058898,0.025407
Wisconsin,0.223345,0.116545,0.121533,0.114679,0.127692,0.129952,0.089225,0.051693,0.025337
Wyoming,0.229481,0.117281,0.131023,0.115052,0.116549,0.134005,0.088428,0.047175,0.021007

In [173]:
# State with the highest proprotion of 0-17 year olds
print("State Name: ",county_group.loc[county_group["0-17"].idxmax(),].name,"\n",
      "Proportion of Age 0-17:",county_group.loc[county_group["0-17"].idxmax(),"0-17"])

State Name:  Utah
 Proportion of Age 0-17: 0.28248075869100164

In [174]:
# State with the highest proportion of 85+ year olds 
print("State Name: ",county_group.loc[county_group["85+"].idxmax(),].name,"\n" ,
      "Proportion of Age 85+:",county_group.loc[county_group["85+"].idxmax(),"85+"])

State Name:  Rhode Island
 Proportion of Age 85+: 0.029827507600525105

### Part 4. Read in the 'time_series_covid19_deaths_US.csv' data and answer the next five questions

__Exercise 4.1 (5 points).__ This data is the Johns Hopkins official US Covid-19 death cumulative counts for each date and county.  Restructure the dataframe such that it is 'tidy' and there is a column for date, deaths, population, and fips.  (Hint: look at pandas melt function)

In [229]:
# read in data
covid = pd.read_csv("time_series_covid19_deaths_US.csv")

In [231]:
# get all date columns
date_cols = [col for col in covid.columns.to_list() if "/" in col]
# melt covid dataset into long format
covid =  covid.melt(id_vars = ["FIPS","Population","Admin2","Province_State"],value_vars = date_cols, var_name = "date",value_name = "deaths")

In [232]:
covid

            FIPS  Population      Admin2 Province_State     date  deaths
0         1001.0       55869     Autauga        Alabama  1/22/20       0
1         1003.0      223234     Baldwin        Alabama  1/22/20       0
2         1005.0       24686     Barbour        Alabama  1/22/20       0
3         1007.0       22394        Bibb        Alabama  1/22/20       0
4         1009.0       57826      Blount        Alabama  1/22/20       0
...          ...         ...         ...            ...      ...     ...
1339335  56039.0       23464       Teton        Wyoming  2/25/21       9
1339336  56041.0       20226       Uinta        Wyoming  2/25/21      12
1339337  90056.0           0  Unassigned        Wyoming  2/25/21       0
1339338  56043.0        7805    Washakie        Wyoming  2/25/21      26
1339339  56045.0        6927      Weston        Wyoming  2/25/21       5

[1339340 rows x 6 columns]

In [233]:

# remove counties with 0 population
covid = covid.loc[covid["Population"] > 0]

__Exercise 4.2 (5 points).__ Which county (give county name and state) has the highest proportion of deaths by 2/25/21 to the Population?  Use the population in the covid deaths datasets.

In [234]:
# create a filtering mask
mask = covid["date"] == "2/25/21"
# apply mask
covid_mask = covid.loc[mask,:] 
# create a new column prop 
covid_mask = covid_mask.assign(prop = covid_mask["deaths"] / covid_mask["Population"])
# reset index
covid_mask = covid_mask.reset_index()

In [238]:
# get county with the highest proportion of deaths by 2/25/21
covid_mask.loc[covid_mask["prop"].idxmax(),["FIPS","Admin2","Province_State"]]

FIPS                   46073.0
Admin2                 Jerauld
Province_State    South Dakota
Name: 2479, dtype: object

__Exercise 4.3 (10 points).__ Compute the incidence proportion (number of deaths each day per 100,000 population) for each county, you may save this as a new dataset.

In [209]:
# create a new column that computes the incidence proportion
covid["incid_prop"] = (covid["deaths"] / covid["Population"]) * 100000
# create a copy df
covid_incid = covid
covid_incid

,FIPS,Population,date,deaths,incid_prop,week_period
0,1001.0,55869,2020-01-22,0,0.000000,2020-01-20/2020-01-26
1,1003.0,223234,2020-01-22,0,0.000000,2020-01-20/2020-01-26
2,1005.0,24686,2020-01-22,0,0.000000,2020-01-20/2020-01-26
3,1007.0,22394,2020-01-22,0,0.000000,2020-01-20/2020-01-26
4,1009.0,57826,2020-01-22,0,0.000000,2020-01-20/2020-01-26
...,...,...,...,...,...,...
1339334,56037.0,42343,2021-02-25,34,80.296625,2021-02-22/2021-02-28
1339335,56039.0,23464,2021-02-25,9,38.356631,2021-02-22/2021-02-28
1339336,56041.0,20226,2021-02-25,12,59.329576,2021-02-22/2021-02-28
1339338,56043.0,7805,2021-02-25,26,333.119795,2021-02-22/2021-02-28
1339339,56045.0,6927,2021-02-25,5,72.181319,2021-02-22/2021-02-28

__Exercise 4.4 (15 points).__ Compute the incidence proportion per week (per 100,000 population), which is the sum of the incidences for all days in a week.  Hint: use Periods in Pandas.  Which is the week with the highest mean incidence proportions (where the mean is taken over all the counties)?

In [181]:
# recast date column as a datetime column
covid_incid["date"] = pd.to_datetime(covid_incid["date"])

In [182]:
# create a new column as a weekly period
covid_incid["week_period"] = covid_incid["date"].dt.to_period(freq = "W")

In [183]:
# groupby the week period column
covid_incid = covid_incid.groupby(["week_period"])

In [184]:
# find the week with the highest mean incidence proportions
covid_incid.mean().loc[:,"incid_prop"].idxmax()

Period('2021-02-22/2021-02-28', 'W-SUN')

__Exercise 4.5 (15 points).__ For each week (should be roughly 40 weeks), compute the spearman correlation between the proportion of seniors in the county and the incidence proportion for that county at that week (each county is considered to be a sample for computing the correlation).  Print all correlations below.  This should be a single number for each week.

In [185]:
# calculate a new senior column
county_master["senior"] =  county_master["75-84"] + county_master["85+"]
# calculate a new senior proportion column
county_master["senior_rat"] = county_master["senior"] / county_master["population"]

In [186]:
# select relevent columns and rename the FIPS column to match the other df
covid_corr = covid.loc[:,["FIPS","week_period","incid_prop"]].rename(columns = {"FIPS": "fips"},inplace = False)
# select relevent columns
county_corr = county_master[["fips","senior_rat"]]
# change the fips column to a float column
county_corr["fips"] = county_corr.loc[:,"fips"].astype(float)

# use a full join to merge both dfs on fips and then drop rows with missing values and reset the index
corr_df = pd.merge(covid_corr,county_corr, on = "fips", how = "outer").dropna().reset_index()
# filter out rows with an incid_prop equal to 0 and select relevent columns
corr_df = corr_df.loc[corr_df["incid_prop"] > 0,["week_period","incid_prop","senior_rat"]]

/tmp/ipykernel_1105011/1078357381.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_corr["fips"] = county_corr.loc[:,"fips"].astype(float)

In [187]:
corr_df

                   week_period  incid_prop  senior_rat
86       2020-04-13/2020-04-19    6.637682    0.071387
87       2020-04-13/2020-04-19    8.297103    0.071387
88       2020-04-13/2020-04-19    8.850243    0.071387
89       2020-04-20/2020-04-26    9.403383    0.071387
90       2020-04-20/2020-04-26   10.509663    0.071387
...                        ...         ...         ...
1133622  2021-02-15/2021-02-21   72.181319    0.095601
1133623  2021-02-22/2021-02-28   72.181319    0.095601
1133624  2021-02-22/2021-02-28   72.181319    0.095601
1133625  2021-02-22/2021-02-28   72.181319    0.095601
1133626  2021-02-22/2021-02-28   72.181319    0.095601

[711436 rows x 3 columns]

In [188]:
# groupby week period column
corr_df = corr_df.groupby("week_period")

In [189]:
# calculate spearman correlation
corr_df = corr_df.corr(method = "spearman")

In [210]:
# drop rows with missing values and reset multiindex
corr_df = corr_df.dropna().reset_index()

In [211]:
# extract only the relevent correlation value from the pairwise matrix and reset the index rename the corr column 
corr_df.loc[corr_df["level_1"] == "incid_prop",["week_period","senior_rat"]].reset_index(drop = True).rename(columns = {"senior_rat": "corr"})

              week_period      corr
0   2020-03-02/2020-03-08  0.806259
1   2020-03-09/2020-03-15 -0.334200
2   2020-03-16/2020-03-22  0.307509
3   2020-03-23/2020-03-29  0.223927
4   2020-03-30/2020-04-05  0.261242
5   2020-04-06/2020-04-12  0.229754
6   2020-04-13/2020-04-19  0.179143
7   2020-04-20/2020-04-26  0.135906
8   2020-04-27/2020-05-03  0.093110
9   2020-05-04/2020-05-10  0.064310
10  2020-05-11/2020-05-17  0.046782
11  2020-05-18/2020-05-24  0.033574
12  2020-05-25/2020-05-31  0.019668
13  2020-06-01/2020-06-07  0.007458
14  2020-06-08/2020-06-14 -0.002675
15  2020-06-15/2020-06-21 -0.009676
16  2020-06-22/2020-06-28 -0.019707
17  2020-06-29/2020-07-05 -0.035281
18  2020-07-06/2020-07-12 -0.048393
19  2020-07-13/2020-07-19 -0.061792
20  2020-07-20/2020-07-26 -0.079203
21  2020-07-27/2020-08-02 -0.109108
22  2020-08-03/2020-08-09 -0.119862
23  2020-08-10/2020-08-16 -0.132554
24  2020-08-17/2020-08-23 -0.140254
25  2020-08-24/2020-08-30 -0.145401
26  2020-08-31/2020-09-06 -0.143307
27  2020-09-07/2020-09-13 -0.143198
28  2020-09-14/2020-09-20 -0.138500
29  2020-09-21/2020-09-27 -0.132665
30  2020-09-28/2020-10-04 -0.120859
31  2020-10-05/2020-10-11 -0.112274
32  2020-10-12/2020-10-18 -0.102280
33  2020-10-19/2020-10-25 -0.092134
34  2020-10-26/2020-11-01 -0.076587
35  2020-11-02/2020-11-08 -0.058515
36  2020-11-09/2020-11-15 -0.032608
37  2020-11-16/2020-11-22 -0.008635
38  2020-11-23/2020-11-29  0.016167
39  2020-11-30/2020-12-06  0.049983
40  2020-12-07/2020-12-13  0.089019
41  2020-12-14/2020-12-20  0.127673
42  2020-12-21/2020-12-27  0.146997
43  2020-12-28/2021-01-03  0.158713
44  2021-01-04/2021-01-10  0.167337
45  2021-01-11/2021-01-17  0.176983
46  2021-01-18/2021-01-24  0.180172
47  2021-01-25/2021-01-31  0.182058
48  2021-02-01/2021-02-07  0.180810
49  2021-02-08/2021-02-14  0.181510
50  2021-02-15/2021-02-21  0.178476
51  2021-02-22/2021-02-28  0.178653